extends layout

block content
    hr#line2
    #image
        img(src="arma.png")
    p Okay. I'm finally getting around to it...
        | An informal registry for F

    ol
        li Year and model of Vehicle
        li Name of Owner
        li Name of vehicle

    #ad
        p '96 FZJ80, locked, Hanna sliders, ARB bumper
            br
            | Autohome
            br
            | Custom



    footer
        p Mike S, Apr 1, 2005
            a(href="#") Report
        #down
            p #1
                a(href="reply") Reply
