extends layout

block content
    table
        tr#tabletitle
            th
            th Title
            th Start Date
            th Replies
            th Views
            th Last Message
            tr#orange
                td
                    img(src="armasmall.png")
                td
                    a(href="#") 60 Series Registry
                    br
                    | Mike S.
                td#float
                    img(src="pin.png")
                td#border1 Replies:
                    br
                    | Views:
                td#border2 2,599
                    br
                    | 1,270,878
                td#last Mike S
                    br
            tr#orange
                td
                    img(src="armasmall.png")
                td
                    img(href="armasmall.png")
                    a(href="helloworld") FJ60 and FJ62 FAQ
                    br
                    | Mike S, Mar 23, 2004
                td
                    img(src="pin.png")
                td#border1 Replies
                td#border2 2,599
                td#last Mike S
                    br
                    | Mar 23, 2004