extends layout

block content
    h2 Reply to Thread
    #content
        input(type="text")
        hr#stop
        #buttons
            button(type="button") Reply to Thread
            button(type="button") Attach File

